<h1><%= @articles.title %></h1>
<% unless @articles.user.nil?%>
<p>
	Escrito por: <%= @articles.user.email%>
</p>
<%end%>
<p>
	Visitas: <%= @articles.visits_count %>
</p>
<div>
	<%= @articles.body%>
</div>
<div class="field">
	<h3> Comentarios</h3>
	<%= render "comments/form"%>
	<ul>
		<%@articles.comments.each do |comment|%>
		<li> 
			<%= comment.body%>  -  <%=comment.user.email%> 
		</li>
		<%end%>
	</ul>
</div>
<br/> <br/>
<%= link_to "Articulos" , articles_path%> - <%= link_to "Editar Articulo", edit_article_path(@articles) %> 